@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  font-family: 'Noto Sans KR', sans-serif;
  background: #333;
  color: #bbb;
  /* needed because hiding the menu on the right side is not perfect,  */
}

a {
  text-decoration: none;
  color: #222;

  transition: color 0.3s ease;
}

a:hover {
  color: rgba(21, 84, 109, 0.2);
}
/* ===================
  ALL: Nav
 =================== */

/* nav tag */
nav {
  float: right;
  width: 70%;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

/* 상단 여백 10px */
nav ul li {
  display: inline-block;
  font: bold 12px Dotum;
  width:15%;
  margin: 0 auto;
  margin-top : 1rem;
}

nav ul li a{
  display: table;
  margin: 0 auto;
}

nav ul li:first-child {
  border-left: none;
}
/*
* main css
*/

section {
  max-width: 800px;
  max-height: 0;
  transition: max-height 0.15s ease-out, opacity 0.33s linear;  
  visibility: hidden;
}

section:target {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  visibility: visible;
  height: auto;
}

.section.clearfix {
  width: 100%;
  position: relative;
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

canvas {
  image-rendering: pixelated;
}

/* ===================
  ALL: Orange Theme
 =================== */
 
.header-container {
  margin: 0 auto;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  max-width: 800px;
}

.profileImage {
  width: 4em;
  height: 4em;
  display: block;
  float: left;
  border-radius: 100%;
}

.main-container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.card {
  background-color: #222;
}

.Stat {
  margin: 0 auto;
  padding: 0;
}

.Stat li {
  width: 21%;
  display: block;
  border-radius: 6em;
  margin: 6%;
  padding-bottom: 21%;
  height: 0;
  background-size: cover;
  background-color: #dddddd;
  float: left;
  box-shadow: 2px 2px 4px #111;
}

.Stat li p {
  margin-top: -0.4em;
  margin-left: -0.2em;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 1.3em;
  float: left;
}

.Icon {
  margin: 0 auto;
  padding: 0;
}

.Icon li {
  width: 15%;
  display: block;
  border-radius: .5em;
  margin: 5%;
  padding-bottom: 15%;
  height: 0;
  background-size: cover;
  background-color: #939393;
  float: left;
  box-shadow: 2px 2px 4px #111;
}


/* ==========================================================================
 Media Queries
 ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ========================
  INTERMEDIATE: IE Fixes
 ======================== */

  .profileImage {
    width: 8em;
    height: 8em;
  }
}

@media only screen and (min-width: 1140px) {

  /* ===============
  Maximal Width
 =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

