/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    color: #222;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.2em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

canvas {
	image-rendering : pixelated;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    background-color: #ddd;
}
.wrapper {
    margin: 0 5%;
}
article {
  margin: 0 auto;
  max-width: 800px;
}
article ul{
  padding: 0;
  list-style: none;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  padding: 0.5em;
}
.footer-container{
  text-align: center;
}
.header-container, .footer-container {
    background: #bbb;
}
.profileImage {
    width: 4em;
    height: 4em;
    display: block;
    float: left;
    border-radius: 10%;
}
.bio {
  font-style: italic;
  font-weight: lighter;
  font-size: 0.4em;
}
.title {
    display: block;
    float: left;
    color: #222;
    padding-left: 0.8em;
	margin-bottom: 0;
}
.Icon {
  margin: 0 auto;
  padding: 0;
}
.Icon li {
  width: 15%;
  display: block;
  border-radius: .5em;
  margin: 5%;
  padding-bottom: 15%;
  height: 0;
  background-size: cover;
  background-color: #939393;
  float: left;
  box-shadow: 2px 2px 4px #444;
}
.Stat li {
  width: 21%;
  display: block;
  border-radius: 6em;
  margin: 6%;
  padding-bottom: 21%;
  height: 0;
  background-size: cover;
  background-color: #dddddd;
  float: left;
  box-shadow: 2px 2px 4px #444;
}
.Stat li p{
	margin-top : -0.4em;
	margin-left : -0.2em;
	margin-bottom : 0;
	margin-right : 0;
	font-size : 1.3em;
	float: left;
}
.Icon a {
  overflow: hidden;
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.qut li {
  color: #222;
  background-color: #bbb;
  border-radius: .4em;
  padding: .5em;
  margin-top: .5em;
  text-align: left;
}

#input_text textarea {
    border: 1px solid #777;
    padding: 0;
    margin: 0;
    background-color: #ccc;
    color: #111;
    width: 99.5%;
    border-radius: .3em;
    resize: none;
    height: 4em;
    float: left;
}

#input_text button {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    border-radius: .2em;
    background-color: #a1a1a1;
    vertical-align: top;
    height: 2em;
    width: 100%;
	box-shadow: inset -0.1em -0.1em 0.1em #8B8B8C, inset 0.1em 0.1em 0.1em #C6C6C6;
}
.qut li time {
    margin-left: 10px;
    font-weight: lighter;
    font-size: .6em;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
    float: right;
    padding-top : 2.5em;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #555;
    background: #bbb;
}
nav a:hover, nav a:visited {
    color: #777;
}
nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}
.main article h1 {
    font-size: 2em;
}
.main h2 {
  margin-bottom : 0;
}

.footer-container footer {
    color: #666;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float: left;
        margin: 0 1.7%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }

    .profileImage {
        width: 4em;
        height:  4em;
    }
    .title {
      padding-left: 1.5em;
    }

}
@media only screen and (min-width: 768px) {
    /* ============
    WIDE: Menu
   ============ */
    .title {
        float: left;
    }
    nav {
        float: right;
        padding-top : 3em;
    }
    /* ============
    WIDE: Main
   ============ */
    .main article {
        width: 100%;
    }
    .main h2 {
      margin-left: -40px;
      margin-bottom : 0;
    }
}
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
