@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: "Noto Sans KR", sans-serif !important;
    background-color: #111111;
    color: #aaaaaa;
    margin: 0 auto;
    font-size: 1.0em;
    max-width: 800px;
}
h1 {
    font-family: Georgia;
    font-size: 2.5em;
    margin: 0;
}
h2 {
    line-height: 1.2em;
}
a:visited {
    color: #CCC;
    margin: 0;
    font-weight: bold;
}
a:link {
    color: beige;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
}
li a {
    width: 100%;
    height: 100%;
    display: block;
}
.header #menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.header #menu li {
    margin: 0;
    border: 0;
    float: left;
    width: 25%;
    background-color: #3D7AB0;
    text-align: center;
    font-size: x-large;
    padding-bottom: 1%;
    padding-top: 1%;
    outline: #000000 solid 1px;
    color: beige;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    box-shadow: inset -0.1em -0.1em 0.2em #1F3851, inset 0.1em 0.1em 0.2em #83A5C5;
    -moz-box-shadow: inset -0.1em -0.1em 0.2em #1F3851, inset 0.1em 0.1em 0.2em #83A5C5;
    -webkit-box-shadow: inset -0.1em -0.1em 0.2em #1F3851, inset 0.1em 0.1em 0.2em #83A5C5;
}
.header #menu li:hover {
    background-color: #7B9DBB;
}
.header #menu li:active {
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset -0.3em -0.3em 0.4em #6D96BD, inset 0.3em 0.3em 0.6em #3F6488;
}
.header img {
    border: none;
    margin: 0 auto;
    position: relative;
    width: 99%;
    border: none;
    padding: 0;
    vertical-align: middle;
}
.submenu {
    padding-bottom: 3%;
}
.submenu ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
.submenu.button {
    margin: 0 auto;
    border: 0;
    float: left;
    width: 15%;
    text-align: center;
    background-color: #ccc;
    color: #222;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0.25em;
    font-weight: bolder;
    box-shadow: inset -0.1em -0.1em 0.2em #888, inset 0.1em 0.1em 0.2em #FFF;
    cursor: pointer;
}
.submenu.button:hover {
    background-color: #eee;
}
.submenu.button:active {
    text-shadow: 2px 2px 1px rgba(80, 80, 80, 0.5);
    box-shadow: inset -0.1em -0.1em 0.2em #FFF, inset 0.1em 0.1em 0.2em #888;
}
.submenu.input {
    margin: 0;
    border: 0;
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 5%;
}
.submenu.input input {
    margin: 0.2em 0 0;
    border: 0;
    width: 100%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 2em;
    background-color: #555;
    text-size: large;
    color: #ccc;
}
.submenu.input input:focus {
    background-color: #777;
}
.submenu.button.search {
    width: 10%;
    margin-right: 10%;
}
.content {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.content .section {
    display: none;
}
.content div:target {
    display: block;
}
.content .section table {
    width: 100%;
}
.content .section table tr th {
    background-color: #333;
    color: #aaa;
    border-radius: 0.3em;
}
.content .section table tr td {
    color: #aaa;
}
.content .section tbody tr:nth-child(odd) {
    background-color: #131313;
}
.content .section tbody tr:nth-child(even) {
    background-color: #151515;
}
.footer {
    text-align: center;
    margin: 0;
}
.submitModal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    opacity: 0;
}
.submitModal:target {
    opacity: 1;
    pointer-events: auto;
}
.cancel {
    position: absolute;
    right: 0;
    top: 0;
    font-size: x-large;
    background: none;
    border-radius: 2.5em;
}
.cancel:active {
    text-shadow: 2px 2px 3px #333;
}
.modalbox {
    max-width: 400px;
    position: relative;
    margin: 10% auto;
    border-radius: 10px;
    background: #999;
    color: #111;
}
.modalbox p {
    background-color: #ddd;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
.modal.button,
.modalbox input{
    margin: 0 auto 2%;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    width: 80%;
}
.modalbox table {
    width: 99%;
    text-align: center;
    margin: 0 auto;
    table-layout: fixed;
}
.modalbox table th {
    background-color: #ddd;
    white-space: nowrap;
}
.modalbox table td {
    white-space: nowrap;
    text-overflow: ellipsis;
	text-align : justify;
	overflow : hidden;
}
.modalbox input {
    background-color: #ddd;
    box-shadow: inset 0 0 1em #888;
}
.modalbox input:focus {
    background-color: #eee;
}
.modal.button,
.set button{
    box-shadow: inset -0.1em -0.1em 0.2em #888, inset 0.1em 0.1em 0.2em #FFF;
}
.modal.button:active {
    text-shadow: 2px 2px 1px rgba(80, 80, 80, 0.5);
    box-shadow: inset -0.3em -0.3em 0.4em #FFF, inset 0.3em 0.3em 0.6em #888;
}
.modalbox input[name="FOODEXEC_ID"] {
    display: none;
}
#input-submit-foodexec-search {
    margin-left: 10%;
    width: 60%;
    float: left;
}
#button-submit-foodexec-search {
    width: 20%;
    float: left;
}
.modal.table.set {
    height: 200px;
    width: 50%;
    overflow-y: scroll;
    float: left;
}
.modal.table.list {
    height: 200px;
    width: 50%;
    overflow-y: scroll;
}
@media all and (max-width:768px){
    .header #menu li {
        font-size: large;
    }
    .submenu ul {
        width: 100%;
    }
    .submenu.input {
        margin-left: 1%;
    }
    .submenu.button.search {
        width: 15%;
        margin-right: 7%;
    }
    .content .section table tr th {
        background-color: #333;
        color: #aaa;
        border-radius: 0.1em;
        font-size: small;
    }
    .content .section table tr td {
        color: #aaa;
        font-size: small;
    }
}