@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  font-family: 'Noto Sans KR', sans-serif;
  background: #333;
  color: #bbb;
  /* needed because hiding the menu on the right side is not perfect,  */
}


a {
  text-decoration: none;
  color: #808080;

  transition: color 0.3s ease;
}

a:hover {
  color: rgba(21, 84, 109, 0.2);
}

/*
* main css
*/
section {
  max-width: 800px;
  max-height: 0;
  transition: max-height 0.15s ease-out, opacity 0.33s linear;
  visibility: hidden;
}

section:target {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  visibility: visible;
  height: auto;
}

.section.clearfix {
  width: 100%;
  position: relative;
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

canvas {
  image-rendering: pixelated;
}

table th {
  margin: 0 auto;
  padding: 0.2rem !important;
  font-size: 0.9rem;
  text-align: right;
}

table td {
  margin: 0 auto;
  padding: 0.2rem !important;
  font-size: 0.9rem;
  text-align: right;
}

table th .btn{
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 22px;
}

/* ===================
  ALL: Nav
 =================== */

/* nav tag */
nav ul {
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

/* 상단 여백 10px */
nav ul li {
  display: inline-block;
  font: bold 12px Dotum;
  width: 24%;
  margin: 0 auto;
  margin-top: 1rem;
}

nav ul li a {
  display: table;
  margin: 0 auto;
}

nav ul li:first-child {
  border-left: none;
}

.main-container, .header-container {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 800px;
}

.chart {
  height: 500px;
}

@media only screen and (min-width: 480px) {
  /* ========================
  INTERMEDIATE: IE Fixes
 ======================== */

  .profileImage {
    width: 8em;
    height: 8em;
  }
}

@media only screen and (min-width: 1140px) {

  /* ===============
  Maximal Width
 =============== */
  .wrapper {
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
